<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OCR Web Interface</title>
    <link rel="stylesheet" href="style.css" />
    <script defer src="app.js"></script>

    <header class="bg-gray-900 flex justify-between p-8">
      <div class="flex items-centre p-8">
        <img src="logo.png" alt="logo" width="10%" />
        <a href="home.html" class="text-primary px-8 py-8 no_underline">Home</a>
      </div>
      <div class="flex items-centre">
        <a href="login.html" class="text-secondary px-8 py-8 no_underline"
          >Login</a
        >
        <a href="login.html"
          ><button class="bg-button px-8 py-8 m-8">Sign up</button></a
        >
      </div>
    </header>
    <div>
      <h1 style="text-align: center; color: white">OCR</h1>
      <h4 class="font-body">
        Optical character recognition (OCR) is a technology that enables the
        conversion of images of typed, handwritten, or printed text into
        machine-encoded text. OCR is widely used for digitizing printed texts so
        that they can be electronically edited, searched, stored more compactly,
        displayed online, and used in machine processes such as cognitive
        computing, machine translation, text-to-speech, key data and text
        mining. OCR is a field of research in pattern recognition, artificial
        intelligence, and computer vision. Early versions of OCR needed to be
        trained with images of each character, and worked on one font at a time.
        Advanced systems capable of producing a high degree of accuracy for most
        fonts are now common, and with support for a variety of image file
        format inputs. Some systems are capable of reproducing formatted output
        that closely approximates the original page including images, columns,
        and other non-textual components.
      </h4>
    </div>
    <br />
    <div style="text-align: center" class="font-lato">
      <a href="login.html"
        ><button class="button size-body px-8 py-8">Try now!</button></a
      >
    </div>
  </head>
  <body>
    <section>
      <img src="layered-waves-haikei.svg" alt="background" width="100%" />
    </section>
  </body>
</html>
<!--https://youtu.be/lPJVi797Uy0?si=fs_74ikKfUJ8aIo8 or more info
  haikei, 
  shape shifter app
  try to make more dynamic body for the website-->
