<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Web Interface</title>
    <link rel="stylesheet" href="style.css">
</head>
<body background="ocr3.jpeg"> <div class="container">
        <h1>OCR Web Interface</h1>
        <form action="/process_image" method="post" enctype="multipart/form-data">
            <label for="file">Select an image:</label>
            <input type="file" id="file" name="file" accept="image/*">
            <button type="submit">Submit</button>
        </form>
    </div>
    <a href="/display_results">Back to Home</a>
</body> </html>
